body {
  min-height: 100vh;
  min-height: 100svh;
}

main {
  max-width: 33rem;
  margin-inline: auto;
  padding: 2rem 1rem;
}


//inputs, textareas
input,
label {
  cursor: pointer;
}

input[type="text"],
textarea {
  outline: 1px solid currentColor;
  border-radius: .25rem;
  padding: 1rem;
}

textarea {
  height: 8rem;
}

// buttons
button {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  & svg {
    width: .8em;
  }
}

[disabled] {
  // filter: invert(1);
  filter: sepia(0.8);
  opacity: .9;
}

[disabled]:hover {
  cursor: default;
  border-color: transparent;


}

.btn--main {
  text-transform: uppercase;
  font-size: .8rem;
  background-color: #2b2b2b;
  color: white;
}

.btn__feedback {
  padding-top: .2em;
  font-size: .8rem;
  opacity: .8;
  text-align: center;
}

//email
.email {
  word-break: break-word;
  // overflow-wrap: break-word;

}

// modals
.bg-modal {
  background-color: white;
}

.box {
  background-color: white;
  outline: 1px solid #333;
  border-radius: 1rem;
  padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  .bg-modal {
    background-color: rgb(29, 29, 29);
  }

  .box {
    background-color: rgb(37, 37, 37);
    outline: 1px solid #333;
  }
}

.dialog__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  & button {
    padding: .5rem;
    font-size: .8rem;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
  }
}

.dialog__content {
  padding-top: 1rem;
  display: grid;
  // gap: .5rem;
}

.dialog__footer {
  padding-top: 1rem;
  display: grid;
  gap: .5rem;

  &>*:nth-child(1) {
    // background-color: pink;
  }

  &>*:nth-child(2) {
    background-color: rgb(255, 230, 88);
    color: #333;
  }
}

@media screen and (min-width:500px) {
  .dialog__footer {
    grid-template-columns: 1fr 1fr;
  }
}



//label
.people__label {
  display: grid;
  grid-template-columns: 1.2rem 1fr;
  gap: .4rem;

  &+* {
    margin-top: .5em;
  }
}